.container {
    justify-content: center;
    padding: 0 40px;
    margin: auto 10%;
    background-color: lightgray;
    border: 2px solid hsl(271, 89%, 65%);
    border-radius: 15px;
}

.subtitle {
    padding-left: 10px;
    font-style: italic;
    color: gray;
}

.block-content {
    margin: 10px;
}

.block-content p {
    padding: 0 0 10px 10px;
}

h4 {
    margin-bottom: -10px;
}

#contact-info {
    padding: 10px 30px;
    margin-bottom: 20px;
}

#contact-info h3 {
    margin-bottom: -16px;
}

#resume {
    display: flex;
    flex-flow: row wrap;
}

#intro {
    padding: 10px 30px;
    flex-basis: 100%;
}

#experience {
    padding: 10px 20px;
    flex: 2;
}

#sidebar {
    border-left: 1px solid black;
    padding: 10px 20px;
    flex: 1;
}

#sidebar li {
    margin-top: 5px;
}

#footer {
    flex-basis: 100%;
}

@media (max-width: 800px) {
    #resume { flex-flow: column; }
    #sidebar { border-left: none; padding-left: 20px; }
}