#resume {
    max-width: 80%;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

#intro {
    border: 5px double black;
}

#experience {
    border: 4px blue;
}

#sidebar {
    border: 2px black;
}