body {
    background-color: #ffffff;
    background-repeat: repeat;
}

body::after {
    content: "";
    background-image: url("./water.jpg");
    background-size: 50%;
    background-repeat: repeat;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.container {
    padding: 0 50px;
    margin: auto;
    background-color: #d3d3d3;
    border: 2px solid #a856f5;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #a856f5;
    max-width: 800px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h4 {
    margin-bottom: -10px;
}

p, li {
    padding-left: 10px;
    font-weight: 300;
    letter-spacing: 0.25px;
}

em {
    font-weight: 600;
}

.subtitle {
    padding-left: 10px;
    font-weight: 400;
    font-style: italic;
    color: #777777;
}

.block-content {
    margin: 10px;
}

.contact-info {
    padding: 10px 0;
}

.contact-info h3 {
    margin-top: -16px;
    font-weight: 400;
}

img {
    max-width: 70%;
    height: auto;
    border-radius: 60px;
    box-shadow: 0 0 20px 0 #666666;
}

#resume {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #a856f5;
}

#intro {
    padding: 10px 0;
    flex-basis: 50%;
}

#portrait {
    margin-top: 60px;
    text-align: right;
    flex-basis: 50%;
}

#experience {
    padding-top: 10px;
    padding-right: 25px;
    flex: 2;
}

.exp-block {
    margin-top: 10px;
}

#sidebar {
    border-left: 1px solid #a856f5;
    padding: 10px 20px;
    flex: 1;
}

#sidebar li {
    margin-top: 5px;
}

footer {
    margin: 12px;
    text-align: center;
    flex-basis: 100%;
}

#copyright {
    font-size: 12px;
    color: #777777;
}

@media (max-width: 900px) {

    #resume { flex-flow: column; }
    #portrait {
        flex-basis: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
    }
    img {
        max-width: 60%;
        min-width: 50%;
        height: auto;
    }
    #experience {
        border-top: 1px solid #a856f5;
    }
    #sidebar {
        flex-basis: 100%;
        padding-left: 0;
        border-left: none;
        border-top: 1px solid #a856f5;
        border-bottom: 1px solid #a856f5;
    }
    #sidebar .block-content {
        margin: 0;
    }
    .contact-info {
        text-align: center;
    }
}